.feature-box {
    text-align: center;
    padding: 20px;
    border: 1px solid #ddd; 
    border-radius: 15px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    background-color: #fff; 
}

.feature-box:hover {
    transform: translateY(-10px);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1); 
}

.feature-icon {
    font-size: 48px;
    color: #007bff; 
    margin-bottom: 15px;
}

.feature-title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}

.feature-description {
    font-size: 14px;
    color: #666;
}

body {
    font-family: 'Montserrat', sans-serif;
}

.navbar-brand img {
    height: 50px;
    width: auto;
    margin-right: 10px;
}

.image-container {
    position: relative;
    text-align: center;
    margin-top: 20px;
}

.image-container img {
    width: 100%;
    height: auto;
    display: block;
    margin-top: 40px;
}

.overlay-text {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
}

.overlay-text h1 {
    font-size: 3rem;
    font-weight: bold;
}

.overlay-text p {
    font-size: 1.5rem;
}